<!DOCTYPE html>
<html>
<head>
    <title>Public Goals</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<body>
    <h2>Public Goals</h2>
    <ul>
    {% if goals %}
        {% for key, goal in goals.items() %}
            <li>{{ goal.goal }}</li>
        {% endfor %}
    {% else %}
        <li>No goals yet.</li>
    {% endif %}
    </ul>
    <a href="{{ url_for('home') }}">Home</a>
    </div>
    <div class="taskbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('public') }}"> Goals</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>
