<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>

</head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<body>
    <h1>Sign In</h1>
    <form method="POST" action="{{ url_for('signin') }}">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Sign In</button>
    </form>
    </div>
    <div class="taskbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('public') }}"> Goals</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>
