<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Signin</title>
  </head>
  <body>
    <h1>Signin</h1>
    <form method="post">
      Email: <input type="email" name="email" required><br>
      Password: <input type="password" name="password" required><br>
      username: <input type="text" name="username" required><br>
      full name : <input type="text" name="full_name" required><br>
      <input type="submit" value="Signin">
    </form>
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}
  </body>
</html>
